.a-head{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(242, 48, 48);
    text-decoration: underline;
    font-style: italic;
  
}

.a-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    color: rgb(242, 48, 48);
    font-family: cursive;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

@media(max-width:481px){
.a-img{
    height: 350px;
    width: 300px;
}}

/* 
.a-img{
    height: 600px;
    width: 70%;
    
    
} */